/* body */
body{
    margin: 0px;
}
/* container */
.container{
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}
/* header */
header{
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(0, 198, 255, 1) 100%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
.search{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.search-left{
    padding-left: 40px;
    align-self: center;
    color: rgb(58, 58, 58);
}
input{
    min-width: 500px;
    background-color:rgb(235, 235, 235);
    border-radius: 10px;
    border: none;
    height: 20px;
}
.search-rigth{
    display: flex;
    color:rgb(58, 58, 58); 
    font-size: 1rem;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
}
img{
    height: 40px;
    border-radius: 90px;
}
.icon{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.icon-left{
    display: flex;
}
.icon-left img{
    margin: 10px 10px 10px 40px;
    height: 60px;
}
.greeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}
.greeting span:last-child{
    font-size: 1.5rem;
}
.icon-rigth{
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    align-items: center;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(0, 98, 190);
    border: none;
    color: white;
}
/* header-main */
.header-main{
    background-color: brown;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
/* nav */
nav{
    background-color: rgb(228, 228, 228);
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 3.7fr 2fr 3fr;
    box-shadow: 2px 1px 5px #575757;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
li {
    color: rgb(0, 98, 190);
    list-style-type: none;
    font-size: 1.2rem;
}
i{
    margin-right: 20px;
}
.logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 2.3rem;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(0, 198, 255, 1) 100%);
    padding-left: 40px;
}
/* main */
main{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.projects{
    background: rgb(232, 231, 231);
    background: linear-gradient(0deg, rgba(232, 231, 231, 1) 0%, rgba(251, 251, 251, 1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 2fr 2fr 2fr;
    gap: 30px;
    padding: 0 30px 30px 30px;
}
.project{
    background-color: white;
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    padding: 20px;
    border-radius: 10px;
    border-left: 7px solid rgb(0, 98, 190);
    box-shadow: 2px 1px 5px #575757;
}
.project h5{
    margin-bottom: 10px;
}
.project-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.announcements{
    background: rgb(232, 231, 231);
    background: linear-gradient(0deg, rgba(232, 231, 231, 1) 0%, rgba(251, 251, 251, 1) 100%);
    display: grid;
    grid-template-rows: 55px 1fr 55px 1fr;
    grid-template-columns: 1fr;
     padding-right: 30px;
}
.announcements-div{
    background-color: orange;
}
.trending{
    background-color: rgb(108, 108, 167);
}
h2{
    grid-column: 1/3;
}


